@import "tailwindcss";


.body{
      font-family: "Source Code Pro";

}



.common-padding{

    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

@media (max-width: 768px) {
    .common-padding{
        padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    }
}
@media (max-width: 368px) {
    .common-padding{
        padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    }
}